* {
  margin: 0;
  box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

body {
  width: 100%;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 22px;
  margin-right: auto;
  margin-left: 10px;
}

h3 {
  font-size: 16px;
  margin-right: 10px;
}

header .bell {
  height: 22px;
}

header p {
  font-size: 30px;
  font-weight: 100;
}

header img {
  border-radius: 40px;
  height: 30px;
  margin: 0 5px 0 5px;
}

nav a:nth-of-type(1) {
  margin-left: 0;
}

nav a {
  margin-left: 10px;
}

/*------ test css code ------*/
nav a img {
  height: 20px;
}

/* testing position of js graph/chart */
.image-test {
  height: 200px;
}

.social-image img {
  height: 40px;
}
/*------ end of test code ------*/


/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Header ---- */
.bold-h1 {
  font-weight: 700;
}

.light-h1 {
  font-weight: 100;
}

.bold-h1,
.light-h1 {
  color: white;
}

/* ---- Navigation ---- */



/* ---- Layout Containers ---- */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header" 
    "nav" 
    "main";
}
header {
  height: 45px;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: purple;
}

main {
  grid-area: main;
  /* display: flex;
  flex-direction: column; */
  background-color: lightblue;
}
/* ---- Page Elements ---- */


/* ------------ Media Queries 768px -------------- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px)
{

/* ================================= 
  Base Element Styles
==================================== */



/* ================================= 
  Base Layout Styles
==================================== */
    
/* ---- Navigation ---- */

/* ---- Layout Containers ---- */


/* ---- Page Elements ---- */


}

/* ---- Float clearfix ---- */

/* .clearfix::after {
    content: " ";
    display: table;
    clear: both;
} */
