
/* ================================= 
  Base Element Styles
==================================== */


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


/* ---- Layout Containers ---- */


/* ---- Page Elements ---- */


/* ------------ Media Queries 768px -------------- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px)
{

/* ================================= 
  Base Element Styles
==================================== */



/* ================================= 
  Base Layout Styles
==================================== */
    
/* ---- Navigation ---- */

/* ---- Layout Containers ---- */


/* ---- Page Elements ---- */


}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
